label{
    color:#74b9ff;
    font-size: 1.6rem;
    display: block;
    
}
.inputlogin{
    padding: 15px 30px;
    width: 450px;
    font-size: 1rem;
    color:#74b9ff;
    border: 1px solid #74b9ff;
    }
.confirm{
    color:#74b9ff;
    padding: 15px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    background: transparent;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid #74b9ff;
    letter-spacing: 1px;
}
.confirm:hover{
    background: #74b9ff;
    color:white;
}
placeholder{
    color:#74b9ff;
}

