/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    align-items: center;
    text-align: center;
    /*background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/

   
 }
 a {
    text-decoration: none; 
}

